.image {
  width: "35px";
}
.card {
  box-shadow: 0 1px 2px 0px;
}
.card:hover {
  box-shadow: 0 4px 8px 0;
}
.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 700;
}
.card-desc {
  text-align: left;
  font-weight: 600;
  color: #201d1d;
  padding: 25px;
  font-family: "RajdhaniBold";
}
.css-cveggr-MuiListItemIcon-root {
  min-width: 34px !important;
}
span.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-10hburv-MuiTypography-root {
  font-weight: 700;
  font-size: 14px;
}
