.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.home-container {
  max-width: 1600px !important;
}
.ant-avatar-lg {
  border-radius: 50%;
  height: 40px;
  line-height: 40px;
  width: 40px;
}
.ant-avatar-image {
  background: transparent !important;
}
.ant-avatar {
  font-feature-settings: "tnum", "tnum";
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-variant: tabular-nums;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.ant-avatar > img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.listItem:hover {
  color: #7575d5 !important;
}
.boldtext span {
  font-weight: 700 !important;
  font-size: 14px !important;
}
.latest_grid_box {
  width: 33.33% !important;
}
.image-Title {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  margin: 20px 0px;
}
.image-Title img {
  width: 30%;
  margin: auto;
}
.news-title {
  width: 70%;
  color: rgba(0, 0, 0, 0.85);
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 1.4 !important;
}
.card-news {
  max-width: 92% !important;
  margin: auto;
  border: none;
  box-shadow: none !important;
}

.footer {
  width: 100%;
  background-color: #001529;
  padding: 25px;
  margin-top: 15px;
  box-sizing: border-box;
}
.link a {
  color: #1890ff;
  text-decoration: none;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid_box {
  width: 25% !important;
}
.grid_box > div,
.grid_box > div > div {
  box-shadow: none !important;
}
.latest_grid_box a,
.latest_grid_box a > div,
.latest_grid_box a > div > div {
  height: 100%;
}

@media (max-width: 1024px) {
  .footer {
    margin-left: 240px;
    width: auto;
  }
  .css-1wkj1ql {
    width: 70% !important;
  }
  .grid_box {
    width: 33% !important;
  }
}
@media (min-width: 768px) {
  .mobilemenu {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .crypto_chart,
  .crypto_details {
    flex-direction: column;
  }
  .crypto_details > div {
    width: 100%;
  }
  .footer {
    margin-left: 240px;
    width: auto;
  }
  .css-1wkj1ql {
    width: 100% !important;
  }
  .grid_box {
    width: 50% !important;
  }
  .latest_grid_box div {
    max-width: 100% !important;
  }
  .latest_grid_box {
    width: 94% !important;
    margin: auto !important;
  }
}
@media (max-width: 600px) {
  .footer {
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .css-1wkj1ql {
    width: 100% !important;
  }
  .grid_box {
    width: 100% !important;
    margin-top: 20px !important;
  }
  .cryptoMobile {
    margin-left: 0 !important;
  }
  .heading_box {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .cryptoMobile {
    margin-left: 0 !important;
  }
}
