body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  color: #ddd2d2;
}
.ant-avatar-lg {
  border-radius: 50%;
  height: 40px;
  line-height: 40px;
  width: 40px;
}
.ant-avatar-image {
  background: transparent !important;
}
.ant-avatar {
  font-feature-settings: "tnum", "tnum";
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-variant: tabular-nums;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.ant-avatar > img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.MuiListItemText-root.css-tlelie-MuiListItemText-root:hover {
  color: #7575d5;
}

element.style {
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-1sir9cm-MuiPaper-root {
  padding: 0;
}
.footer {
  width: 100%;
  background-color: #001529;
  padding: 25px;
  margin-top: 15px;
}
.link a {
  color: #1890ff;
  text-decoration: none;
  cursor: pointer;
}
.MuiContainer-root.MuiContainer-maxWidthLg.css-1oqqzyl-MuiContainer-root {
  padding: 0;
}
